div(class='dashboardBodyMain')
	input(type='search' class='tournamentSearch form-control')
	div(class='active dashboardPanel row')
		h2.page-header.
			Active Tournaments
		div.col-sm-3.flex.vertical-center
			i(class='fa fa-plus fa-5x')
		div.col-sm-3
			h1 Tournament 1
			h3 Soccer
			h4 Time and place
			h4 Team count
		div.col-sm-3
			h1 Tournament 1
			h3 Soccer
			h4 Time and place
			h4 Team count
		div.col-sm-3
			h1 Tournament 1
			h3 Soccer
			h4 Time and place
			h4 Team count
		div.col-sm-3
			h1 Tournament 1
			h3 Soccer
			h4 Time and place
			h4 Team count
		div.col-sm-3
			h1 Tournament 1
			h3 Soccer
			h4 Time and place
			h4 Team count			

	div(class='historical dashboardPanel row')
		h2.page-header.
			Historical Tournaments
		div.col-sm-3
			h1 Tournament 1
			h3 Soccer
			h4 Time and place
			h4 Team count



