.view-body
	background white

.dashboardBodyMain
	padding-right 15%
	padding-left 15%
	padding-top 30px
	background #F1F2F3

.match
	background #1f487e
	color #F1F2F3
	width 31.5%
	height 275px
	margin 10px
	border-radius .3em
	padding-top 30px
	overflow scroll


.fa-plus
	color white

.newmatch
	border 1px solid #F1F2F3
	background white
	width 31.5%
	height 275px
	margin 10px
	border-radius .3em
	padding-top 30px
	overflow scroll

.tournament-panel-h1
	text-align center

.addtournament
	width 100%
	margin-bottom 10px
	background transparent
	box-shadow outset 0 0 .5em
