div(class='dashboardBodyMain container')
	input(type='search' class='tournamentSearch form-control' placeholder='Search Tournaments')
	div(class='active dashboardPanel row')
		h2.page-header.
			Active Tournaments
		div.col-sm-3
			a(ui-sref='app.tournament.add')
				div.col-xs-12.flex.vertical-center.space-around.display-panel		
					i(class='fa fa-plus fa-5x')
		div(class='col-sm-9')
			a(ui-sref='app.tournament.view')
				div(class='col-md-4 col-xs-6' ng-repeat='tournament in tournaments')
					h1 {{tournament.name}}
					h3 {{tournament.game}}
					h4 {{tournament.date}}
					h4 {{tournament.location}}
					h4 {{tournament.numberOfTeams}}
	div(class='historical dashboardPanel row')
		h2.page-header.
			Historical Tournaments
		div.col-sm-3
			h1 FIFA World Cup 2014
			h3 Soccer
			h4 Time and place
			h4 Team count
