div(class='dashboardBodyMain container-fluid')
	form
		input(type='search' class='tournamentSearch form-control' ng-model='search' placeholder='Search Tournaments')        
	div(class='active dashboardPanel row')
		h2.page-header.
			Active Tournaments
		div(class='col-sm-12 match-cards-body')
			div
				a(ui-sref='app.tournament.add')
					div(class='match col-md-6 col-xs-6 vertical-center flex space-around')
						i(class='fa fa-plus fa-5x')
			a(ui-sref='app.tournament.view' ng-repeat='tournament in tournaments | filter:search' class='match-link')
				div(class='match col-md-6 col-xs-6')
					div(class='match-body flex direction-column vertical-center')
						h2(class='tournament-panel-h1') {{tournament.name}}
						h4 {{tournament.game}}
						h5 {{tournament.date}}
						h5 {{tournament.location}}
	div(class='historical dashboardPanel row')
		h2.page-header.
			Historical Tournaments
		div.col-sm-3
			h2 FIFA World Cup 2014
			h3 Soccer
			h4 Time and place
			h4 Team count
