div(class='dashboardBodyMain')
	input(type='search' class='tournamentSearch form-control' placeholder='Search Tournaments')
	div(class='active dashboardPanel row')
		h2.page-header.
			Active Tournaments
		div.col-sm-3
			a(ui-sref='app.tournament.add')
				div.col-xs-12.flex.vertical-center.space-around.display-panel		
					i(class='fa fa-plus fa-5x')
		div.col-sm-9
			a(ui-sref='app.tournament.add')
				div.col-md-4.col-xs-6
					h1 World Series
					h3 Baseball
					h4 Time and place
					h4 Team count
			a(ui-sref='app.tournament.add')
				div.col-md-4.col-xs-6
					h1 FIFA World Cup 2016
					h3 Soccer
					h4 Time and place
					h4 Team count
			a(ui-sref='app.tournament.add')
				div.col-md-4.col-xs-6
					h1 March Madness
					h3 Basketball
					h4 Time and place
					h4 Team count
			a(ui-sref='app.tournament.add')
				div.col-md-4.col-xs-6
					h1 MTG tournament
					h3 Board
					h4 Time and place
					h4 Team count
			a(ui-sref='app.tournament.add')
				div.col-md-4.col-xs-6
					h1 League of Legends NA LCS Finals
					h3 Esports
					h4 Time and place
					h4 Team count			
			a(ui-sref='app.tournament.add')
				div.col-md-4.col-xs-6
					h1 DevMountain
					h3 Table Tennis
					h4 Time and place
					h4 Team count
	div(class='historical dashboardPanel row')
		h2.page-header.
			Historical Tournaments
		div.col-sm-3
			h1 FIFA World Cup 2014
			h3 Soccer
			h4 Time and place
			h4 Team count
