section(class='addBodyMain container-fluid')
	div
		form(class='newTournamentForm center-text row flex direction-column')
			h1
				input(placeholder='Add Tournament Title' class='addTournamentTitle center-text' onblur='this.placeholder="Add Tournament Title"' onfocus='this.placeholder = ""' ng-model='tournamentTitle' maxlength='30')
			div(class='form-group flex space-around')
				div
					label Start Date
					input(type='date' ng-model='tournament.startDate')
				div		
					label End Date
					input(type='date' ng-model='tournament.endDate')		
			div(class='form-group')
				select(class='form-control' ng-model='tournament.type')
					option(value='' default selected) Tournament Type
					option(ng-repeat='type in tournamentType' value='{{type.id}}') {{type.type}}
			div(class='form-group')
				select(class='form-control' ng-model='tournament.game')
					option(value='' default selected) Game Type
					option(ng-repeat='type in gameType' value='{{type.id}}') {{type.type}}
			div(class='form-group')		
				select(class='form-control' ng-model='tournament.teams')
					option(value='' default selected) Number of Participants
					option(ng-repeat='size in tournamentSize') {{size}}


			button(class='btn btn-default' type='submit' ng-click='generateBracket(tournament)') Lets gooooooo