div(class='flex space-between container')
	ul(class='nav nav-tabs' role='tablist')
		li(class='bracketTab active')
			a(href='#round1' data-toggle='tab') Round 1
		li(class='bracketTab')
			a(href='#round2' data-toggle='tab') Round 2
		li(class='bracketTab')
			a(href='#3' data-toggle='tab') Quarter Finals
		li(class='bracketTab')
			a(href='#4' data-toggle='tab') Semi Finals
		li(class='bracketTab')
			a(href='#5' data-toggle='tab') Finals

div(id='roundTabs' class='tab-content')			
	div(class='container-fluid view-body tab-pane active' id='round1' role='tabpanel')
		div(class='col-md-4 col-sm-6' ng-repeat='match in matches')
			a(href='/')

				div(class='match-panel')
					div(class='team-names')
						div(class='flex direction-row space-between')
							h4 {{match.teamOne}}:
							div(class='scorePosition')
								h4 {{match.teamOneScore}}
						div(class='flex direction-row space-between')
							h4 {{match.teamTwo}}:
							div
								h4 {{match.teamTwoScore}}
						div(class='flex space-around match-panel-date')

							{{match.date}}, {{match.time}}		

	div(class='container-fluid view-body tab-pane' id='round2' role='tabpanel')
		div(class='col-lg-4 col-md-3 col-sm-6' ng-repeat='match in matches')
			a(href='/')
				div(class='match-panel')
					div(class='team-names')
						div(class='flex direction-row space-between')
							h4 {{match.teamOne}}:
							div(class='scorePosition')
								h4 SCORE:{{match.teamOneScore}} LOOK AT ME LOOK AT ME
						div(class='flex direction-row space-between')
							h4 {{match.teamTwo}}:
							div
								h4 {{match.teamTwoScore}}
						div(class='flex space-around match-panel-date')
							{{match.date}}, {{match.time}}


						//- div(class='flex direction-row space-between')
						//- 	div(class='flex direction-column vertical-center team')
						//- 		h3(class='vertical-text-center') {{match.teamOne}} 				
						//- 	h3 vs 
						//- 	div(class='flex direction-column vertical-center team')
						//- 		h3(class='vertical-text-center') {{match.teamTwo}}	
						//- div(class='scorePosition flex direction-row space-between')
						//- 	p {{match.teamOneScore}}
						//- 	p {{match.teamTwoScore}}
						//- div(class='flex vertical-center direction-column')
						//- 	p {{match.time}}
						//- 	p {{match.date}}
						//- 	p {{match.location}}
