div(class='flex space-between container')
	ul(class='nav nav-tabs')
		li(class='nav active bracketTab')
			a(data-toggle='tab' href="#roundone") Round 1
		li(class='nav bracketTab')
			a(data-toggle='tab' href='#roundtwo') Round 2
		li(class='nav bracketTab')
			a(data-toggle='tab') Quarter Finals
		li(class='nav bracketTab')
			a(data-toggle='tab') Semi Finals
		li(class='nav bracketTab')
			a(data-toggle='tab') Finals
div(class='tab-content')			

	//- content for round one

	div(class='container-fluid view-body tab-pane fade in active' id='roundone')
		div(class='col-md-3 col-sm-6' ng-repeat='match in matches')
			a(href='http://google.com')
				div(class='match-panel')
					div(class='team-names')
						div(class='flex direction-row space-between')
							h4 {{match.teamOne}}:
							div(class='scorePosition')
								h4 {{match.teamOneScore}}
						div(class='flex direction-row space-between')
							h4 {{match.teamTwo}}:
							div
								h4 {{match.teamTwoScore}}
						div(class='flex space-around match-panel-date')
							{{match.date}}, {{match.time}}

	//- content for round two

	div(class='container-fluid view-body tab-pane fade in active' id='roundtwo').
		testing
