div(class='flex space-between container')
	ul(class='nav nav-tabs')
		li(class='bracketTab active')
			a(href="") Round 1
		li(class='bracketTab')
			a(href="") Round 2
		li(class='bracketTab')
			a(href="") Quarter Finals
		li(class='bracketTab')
			a(href="") Semi Finals
		li(class='bracketTab')
			a(href="") Finals
